* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body {
 background: #1f2227;
}

html{
 scroll-behavior: smooth;
}


header {
 height: 130px;
 border-bottom: 3px solid;
 margin-bottom: 20px;
}

header>div {
 width: 200px;
 height: 200px;
}

header>div>a>img {
 width: 150px;
 height: 150px;
 cursor: pointer;
}

nav>ul {
 float: right;
 margin-right: 20px;
 margin-top: -115px;
}


nav>ul>li.fancy-link {
 position: relative;
 text-decoration: none;
 color: white;
}

nav>ul>li.fancy-link::after {
 content: '';
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 2px;
 background: currentColor;
 transform: scaleX(0);
 transform-origin: right;
 transition: transform 300ms ease-in;
}

nav>ul>li.fancy-link:hover::after {
 transform: scaleX(1);
 transform-origin: left;
}


nav>ul>li {
 display: inline-block;
 margin: 0 5px;
 list-style: none;
}

nav>ul>li>a {
 text-transform: uppercase;
 font-size: 20px;
 text-decoration: none;
 color: white;
}


main span {
 font-size: 150px;
 padding-left: 5px;
 position: relative;
 color: #ffffff;
}

p {
 margin-top: -20px;
 padding-left: 5px;
 font-size: 25px;
 color: #ffffff;
}

#footer {
 color: #ffffff;
 text-align: center;
 border-top: 1px solid #ffffff;
 padding: 15px
}

/* contact form */

.container {
 width: 80%;
 margin: 50px auto;
 color: #ffffff;
}

.contact-box {
 background: #ffffff;
 color: #1f2227;
 display: flex;
}

.contact-left {
 flex-basis: 60%;
 padding: 40px 60px;
}

.contact-right {
 flex-basis: 40%;
 padding: 40px;
 background: #4d31ebe0;
}

h1 {
 margin-bottom: 10px;
}

.container p {
 margin-bottom: 40px;
}

.input-row {
 display: flex;
 justify-content: space-between;
 margin-bottom: 20px;
}

.input-row .input-group {
 flex-basis: 45%;
}

input {
 width: 100%;
 border: none;
 border-bottom: 1px solid #ccc;
 outline: none;
}

textarea {
 width: 100%;
 border: 1px solid #ccc;
 outline: none;
 padding: 10px;
 box-sizing: border-box;
 resize: none;
}

label {
 margin-bottom: 6px;
 display: block;
 color: #4d31ebe0;
}

button {
 background: #4d31ebe0;
 width: 100px;
 border: none;
 outline: none;
 color: #ffffff;
 border-radius: 30px;
 margin-top: 20px;
 box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
 cursor: pointer;
}

.contact-left h3 {
 color: #4d31ebe0;
 font-weight: 600;
 margin-bottom: 30px;
}

.contact-right h3 {

 font-weight: 600;
 margin-bottom: 30px;
}


.social-media {
 display: flex;
 justify-content: space-evenly;
 list-style: none;

}

.social-media a {
 color: #ffffff;
 font-size: 30px;
 text-decoration: none;
}

.social-media a:hover {
 color: #1f2227;
 transition: 0.9s ease-in-out;
}


tr td:first-child {
 padding-right: 20px;
}

tr td {
 padding-top: 20px;
}